.card {
 font-family: Arial, sans-serif;
 font-size: 20px;
 text-align: center;
 color: black;
 background-color: white;
}
.big_font {
  font-family: Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}
table { 
  margin-left: auto;
  margin-right: auto;
}
#pinyin_answer, #zhuyin_answer {
  font-size: 30px;
}
.ipa {
  font-size: 20px;
  text-align: center;
}
.big-red {
  font-size: 25px;
  color: red;
}