.card {
 font-family: Arial, sans-serif;
 font-size: 20px;
 text-align: center;
 color: black;
 background-color: white;
}
.bigred {
  font-size: 25px;
  color: red;
}
.pinyin, .zhuyin {
  font-size: 30px;
}
.pinyin {
  font-family: Arial, sans-serif;
}
.zhuyin {
    font-family: 'Noto Serif TC', serif;
}